/* 
$$$$$$$$\  $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$\ $$\             $$$$$$\                               $$\       $$$$$$$$\      $$\       $$\ $$\                     
\__$$  __|$$  __$$\ $$  __$$\ $$  __$$\ \_$$  _|$$ |            \_$$  _|                              $$ |      $$  _____|     $$ |      $$ |\__|                    
   $$ |   $$ /  $$ |$$ |  $$ |$$ /  \__|  $$ |  $$ |              $$ |  $$$$$$\$$$$\   $$$$$$\   $$$$$$$ |      $$ |      $$$$$$$ | $$$$$$$ |$$\ $$$$$$$\   $$$$$$\  
   $$ |   $$$$$$$$ |$$$$$$$\ |\$$$$$$\    $$ |  $$ |              $$ |  $$  _$$  _$$\  \____$$\ $$  __$$ |      $$$$$\   $$  __$$ |$$  __$$ |$$ |$$  __$$\ $$  __$$\ 
   $$ |   $$  __$$ |$$  __$$\  \____$$\   $$ |  $$ |              $$ |  $$ / $$ / $$ | $$$$$$$ |$$ /  $$ |      $$  __|  $$ /  $$ |$$ /  $$ |$$ |$$ |  $$ |$$$$$$$$ |
   $$ |   $$ |  $$ |$$ |  $$ |$$\   $$ |  $$ |  $$ |              $$ |  $$ | $$ | $$ |$$  __$$ |$$ |  $$ |      $$ |     $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$   ____|
   $$ |   $$ |  $$ |$$$$$$$  |\$$$$$$  |$$$$$$\ $$$$$$$$\       $$$$$$\ $$ | $$ | $$ |\$$$$$$$ |\$$$$$$$ |      $$$$$$$$\\$$$$$$$ |\$$$$$$$ |$$ |$$ |  $$ |\$$$$$$$\ 
   \__|   \__|  \__|\_______/  \______/ \______|\________|      \______|\__| \__| \__| \_______| \_______|      \________|\_______| \_______|\__|\__|  \__| \_______|
*/

#myTable {
   border-collapse: collapse;
    border: medium black solid;
}

#myTable th {
   background-image: url(https://picsum.photos/200/300);
}

#myTable td, #myTable th {
    border: thin skyblue solid;
}