/* 
$$$$$$$$\  $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$\ $$\             $$$$$$\                               $$\       $$$$$$$$\      $$\       $$\ $$\                     
\__$$  __|$$  __$$\ $$  __$$\ $$  __$$\ \_$$  _|$$ |            \_$$  _|                              $$ |      $$  _____|     $$ |      $$ |\__|                    
   $$ |   $$ /  $$ |$$ |  $$ |$$ /  \__|  $$ |  $$ |              $$ |  $$$$$$\$$$$\   $$$$$$\   $$$$$$$ |      $$ |      $$$$$$$ | $$$$$$$ |$$\ $$$$$$$\   $$$$$$\  
   $$ |   $$$$$$$$ |$$$$$$$\ |\$$$$$$\    $$ |  $$ |              $$ |  $$  _$$  _$$\  \____$$\ $$  __$$ |      $$$$$\   $$  __$$ |$$  __$$ |$$ |$$  __$$\ $$  __$$\ 
   $$ |   $$  __$$ |$$  __$$\  \____$$\   $$ |  $$ |              $$ |  $$ / $$ / $$ | $$$$$$$ |$$ /  $$ |      $$  __|  $$ /  $$ |$$ /  $$ |$$ |$$ |  $$ |$$$$$$$$ |
   $$ |   $$ |  $$ |$$ |  $$ |$$\   $$ |  $$ |  $$ |              $$ |  $$ | $$ | $$ |$$  __$$ |$$ |  $$ |      $$ |     $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$   ____|
   $$ |   $$ |  $$ |$$$$$$$  |\$$$$$$  |$$$$$$\ $$$$$$$$\       $$$$$$\ $$ | $$ | $$ |\$$$$$$$ |\$$$$$$$ |      $$$$$$$$\\$$$$$$$ |\$$$$$$$ |$$ |$$ |  $$ |\$$$$$$$\ 
   \__|   \__|  \__|\_______/  \______/ \______|\________|      \______|\__| \__| \__| \_______| \_______|      \________|\_______| \_______|\__|\__|  \__| \_______|
*/

#name {
    color: hotpink;
    border-bottom: 10px dotted purple;
}

#about_me #job {
    color: gray;
    font-weight: bold;
}   

#contact_section ul {
    border: 5px purple solid;
    background-color: #eeeeee;
    padding: 50px;
}

#contact_section ul li a {
    text-decoration: none;
}
#contact_title {
    font-style: italic;
}